* {
    box-sizing: border-box;
}

body {
    background: #ebebeb;
    font-family: sans-serif;
}

.books {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
}

.book {
    background: white;
    border-radius: 10px;
    width: 40%;
    max-width: 250px;
    margin: 1rem;
    padding: 0 1rem 1rem;
    border: 2px solid transparent;
}

.book-detail {
    background: white;
    border-radius: 10px;
    margin: 3rem;
    padding: 0 1rem 1rem;
    border: 2px solid transparent;
}

@media (min-width: 480px) {
    .pets {
        flex-direction: row;
    }
}